@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';


body {
    font-family: "Open Sans", san-serif;
    font-smoothing: antialiased;
    margin-top: 20px;
}

#header {
    margin-bottom: 30px;
    padding: 15px;
    font-size: 18px;
    line-height: 30px;
    background-color: #0D7851;
    color: #FFF;
    
    h1 {
        font-family: 'Roboto', san-serif;
    }
    small {
        font-style: italic;
    }
}

.coffee-container {

    .coffee-drink {
        border: 4px solid $black;
        width: 100px;
        height: 70px;
        margin: 0 auto;

        #air {
            display: block;
        }

        #milk {
            background-color: lighten(#F2D37F, 20%);
            display: block;
        }

        #espresso{
            background-color: #915C2C;
            display: block;
        }

        #syrup {
            background-color: #45280E;
            display: block;
        }

        #water {
            background-color: #017691;
            display: block;
        }
    }

    #steam {
        color: $grayLighter;
        display: block;
        font: 50px "Skranji", cursive;
        text-align: center;
    }

    h3, p {
        text-align: center;
    }

}
