<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Skranji' rel='stylesheet' type='text/css'>
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <section id="coffee-app" class="container">
            <header id="header">
                <h1>Proper Coffee</h1>
                <small>The best way to make espresso drinks</small>
            </header>

            <section id="coffee" class="row"></section>

            <section class="span12">
                <form action="#" id="addCoffee">
                    <h2>What you drinking?</h2>
                    <section>
                        <label for="name"></label><input type="text" id="name" placeholder="Name of the Drink">
                        <label for="espresso"></label><input type="text" id="espresso" placeholder="how many espresso shots?">
                        <label for="milk"></label><input type="text" id="milk" placeholder="Milk amount? e.g. ">
                        <label for="water"></label><input type="text" id="water" placeholder="Any water in the drink?">
                        <label for="syrup"></label><input type="text" id="syrup" placeholder="Any Syrup?">
                        <hr>
                        <button class="btn btn-primary" id="add">Add coffee drink</button>
                    </section>
                </form>
            </section>

            <!-- Template -->
            <script id='coffee-template' type='text/template'>
                <span id="steam">sss</span>
                <section class='coffee-drink'>
                    <span id="air" style='margin-top: <%= 70 - ( (syrup*10) + (milk*10) + (espresso*10) + (water*10) ) %>px'></span>
                    <span id="syrup" style='height: <%= syrup*10 %>px'></span>
                    <span id="milk" style='height: <%= milk*10 %>px'></span>
                    <span id="espresso" style='height: <%= espresso*10 %>px'></span>
                    <span id="water" style='height: <%= water*10 %>px'></span>
                </section>
                <h3 id="coffee-name"><%= name %></h3>
                <p><%= espresso %> shots of espresso and <%= milk %> parts milk. | <button class="delete btn btn-mini">Delete</button></p>
            </script>

        </section><!-- #coffee-app -->

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/jquery.js -->
        <script src="components/jquery/jquery.js"></script>
        <!-- endbuild -->

        <script src="components/underscore/underscore-min.js"></script>
        <script src="components/backbone/backbone-min.js"></script>
        <script src="components/backbone.localStorage/backbone.localStorage-min.js"></script>
        <script src="components/d3/d3.min.js"></script>

        <!-- Backbone -->
        <script src="scripts/models/coffee.js"></script>
        <script src="scripts/collections/cafe.js"></script>
        <script src="scripts/views/coffee.js"></script>
        <script src="scripts/views/cafe.js"></script>
        <script src="scripts/app.js"></script>

        <!-- build:js scripts/plugins.js -->
        <script src="components/sass-bootstrap/js/bootstrap-affix.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-alert.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-modal.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-transition.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-button.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-popover.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-typeahead.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-carousel.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-scrollspy.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-collapse.js"></script>
        <script src="components/sass-bootstrap/js/bootstrap-tab.js"></script>
        <!-- endbuild -->
</body>
</html>
